
ion-content{
    font-family: 'Noto Sans KR', sans-serif!important;
     
   }
//    ion-list,ion-item,ion-menu-toggle{
//     font-family: 'Noto Sans KR', sans-serif!important;
//     --background:#eeeeee;
//     color:navy;
 
//    }
   ion-icon{
    background: #031646;
    color: white;
    border-radius: 13px;
    padding: 2px 2px 2px 2px;
    font-size: 19px;
   }
ion-label,p{
    font-family: 'Noto Sans KR', sans-serif!important;
    font-size:13px!important;
    color:#031646!important;
    font-weight:600;
}
   hr{
    background: grey;
    width: 70%;
   }
  
   i{
    background: #031646;
    color: white;
    //border-radius: 13px;
    padding: 2px 2px 2px 2px;
    font-size: 19px;
   }
   #electro{
       color:#031646;
       background:white!important;
   }
   #tophone{
    color: grey !important;
    background: white;
    margin-left: 2em;
    font-size: 25px;
   }


 